~$data_sorted.xlsx
agreste_clean.csv
data_sorted.xlsx

ERA5_data.parquet
cog/arrondissement2021.csv
cog/canton2021.csv

cog/commune2021.csv
cog/CTCD2021.csv
cog/departement2021.csv
cog/mvtcommune2021.csv
cog/pays2021.csv
cog/region2021.csv
communes/communes-20220101.cpg
communes/communes-20220101.prj
communes/communes-20220101.dbf
communes/communes-20220101.shp
communes/communes-20220101.shx
communes/communes-descriptif.txt
communes/LICENCE.txt
data_eure.xlsx
images/rendements.png
images/précipitations.png
era5.csv
era5_eure.xlsx
~$era5_eure.xlsx
courbes/Moyenne des précipitations sur l'année.png
courbes/R_min.png
courbes/ssrd mean.png
courbes/Température maximale.png
courbes/Température minimale.png
courbes/Température.png
courbes/ws10_mean.png
